<template>
  <div id="app">
    <v-app id="inspire">
      <v-data-table
        :headers="headers"
        :items="desserts"
        :items-per-page="5"
        class="elevation-1"
      ></v-data-table>
    </v-app>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        {
          text: 'Stock Name',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: '股價', value: 'volume' },
        { text: '負債比率', value: 'debtRate' },
        { text: 'PSR', value: 'psr' },
        { text: '稅後淨利', value: 'netProfit' },
        { text: 'PRR', value: 'prr' },
        { text: '營收成長率', value: '' },
        { text: '評分', value: 'score' },
      ],
      desserts: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: '1%',
        }
      ],
    };
  },
};
</script>

<style></style>
